.main_body{
    width: 500px;
    padding: 10px 30px 0 30px;
    height: 750px;
}

.ex{
    color:red;
}

.pic_img{
    border:1px solid #000;
    margin-left: 3px;
}

.answer{
width: 90%;
margin: 10px 0 10px 10px;
border-width:0 0 1px;
background-color: transparent;
}

.next_page_div{
    display:flex;
    justify-content: space-between;
}
.correct_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:limegreen;
}
.page_button{
    border-radius: 2em;
    background-color: rgb(255, 190, 152);
    border-color: rgb(255, 190, 152);
}
